nav.top-bar {
  padding: 0px;
  border-bottom: 5px solid #F87251;
  position: fixed;
  width: 100%;
  top:0;

  z-index: 999;

  .brand {
    padding: 0px;

    img {
      width: 60px;
    }
  }

  ul {
    li {
      padding:0;
      a {
          padding:1rem;
          font-size: 0.9em;
      }
    }
  }
}
