nav.top-bar {
  padding: 0px;

  .brand {
    padding: 0px;

    img {
      width: 3.5rem;
    }
  }

  ul {
    li {
      padding:0;
      a {
          padding:1rem;
          font-size: 0.9em;
      }
    }
  }
}
